<h1> <%= @team.name %></h1>


<h4> Projects: </h4>

<% unless @projects.empty? %>
<% @projects.each do |project| %>
 <li><%= link_to project.title, project_url(project) %></li>
<% end %>
<% end %>
<%= link_to "Create New Project", new_team_project_url(@team) %>

<h4> Members: </h4>

<% @users.each do |user| %>
<li><%= link_to user.name, user_url(user) %> </li>
<%end%>

