<h1> <%= @project.title %></h1>


<h3> <%= @project.description %> </h3>


<h4> Items: </h4>

<% unless @project.items.empty? %>
<% @project.items.each do |item| %>
 <li><%= link_to item.title, item_url(item) %></li>
<% end %>
<% end %>