<h1> Items </h1>

<% @items.each do |item| %>
  <li><%= link_to item.title, item_url(item) %></li>

<% end %>
<br>
<%= render :partial => "form" %>
<br>
or
<br>
<br>
<%= link_to "Create New Item" , new_item_url%>