<h1> Items </h1>
<%= render :partial => "form" %>
<br>
<br>
<% @items.each do |item_detail| %>
<%= render :partial => "item_detail", :locals => {:item_detail=> item_detail}%>

<% end %>
<br>
<br>
<br>
